.slider-container {
  position: relative;
}

.image-container {
  margin: 20px;
}

.navigation-button-next {
  position: absolute;
  right: 2%;
  transform: translate(50%, -50%);
  top: 50%;
  width: 5vw;
  height: auto;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 1vw;
}

.navigation-button-next .arrow-icon {
  width: 100%;
  height: auto;
}

.navigation-button-prev {
  position: absolute;
  left: 2%;
  transform: translate(-50%, -50%);
  top: 50%;
  width: 5vw;
  height: auto;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 1vw;
}

.navigation-button-prev .arrow-icon {
  width: 100%;
  height: auto;
}

.hidden {
  display: none;
}

.buy-now {
  background-color: red;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50%;
  width: 20%;
  height: auto;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.responsive {
  width: 100%;
  height: auto;
}
