.slider-container {
  position: relative;
}

.image-container {
    margin: 30px;
}


.navigation-button-next {
    position: absolute;
  left: 42%;
  transform: -50% 0;
  top: 75%;
  width: 10%;
  height: auto;
}

.navigation-button-prev {
    position: absolute;
  left: 42%;
  transform: -50% 0;
  top: 75%;
  width: 10%;
  height: auto;
}

.hidden {
  display: none;
}

.buy-now {
  background-color: red;
  position: absolute;
  left: 42%;
  transform: -50% 0;
  top: 75%;
  width: 10%;
  height: auto;
}

.responsive {
  width: 100%;
  height: auto;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1); 
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
}

