.slider-container {
  position: relative;
}

.image-container {
  position: center;
  margin: 130px;
}

.main-title {
  text-align: center;
  font-size: 1.875rem;
  font-weight: bold;
  color: #00237B;
}

.navigation-button-next {
  position: absolute;
  right: 5.7%;
  transform: translate(50%, -50%);
  top: 50%;
  width: 5vw;
  height: auto;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 1vw;
}

.navigation-button-next .arrow-icon {
  width: 100%;
  height: auto;
}

.navigation-button-prev {
  position: absolute;
  left: 5.7%;
  transform: translate(-50%, -50%);
  top: 50%;
  width: 5vw;
  height: auto;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 1vw;
}

.navigation-button-prev .arrow-icon {
  width: 100%;
  height: auto;
}

.hidden {
  display: none;
}


