.about-container {
  text-align: center;
}

.container-logo {
  background: linear-gradient(to bottom, #8eb6ff, #ffffff);
  width: 100%;
}  

.about-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.about-title {
  font-size: 96px;
  color: #ffffff;
  font-family: 'Bangers', cursive;    
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-top: 10%;
}

.about-text {
  font-size: 20px;
  color: #000000;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
  margin: 50px;
}

.about-subtitle {
  font-size: 26px;
  color: #000000;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px;
}

.about-subtext {
  font-size: 15px;
  color: #000000;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
}

.column {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding: 30px;
  margin: 30px;
  border: 1px solid #ffffff;
  border-radius: 8px;
  background-color: #ffffff98;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-sizing: border-box;
  box-shadow: 1px 1px 5px #4f4e4e5e;
}

.column::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 11px;
  background-color: #72a3ff;
  transition: width 0.3s ease-in-out;
  transform: translateX(-50%);
}

.column:hover::before {
  width: calc(100% + 2px);
}  

@media (max-width: 1000px) {
  .column {
    flex: 100%;
  }
}

.icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 2px solid #3158a0;
  overflow: hidden;
  text-align: center;
  padding: 8px;
}

.icon img {
  width: 80%;
  height: 80%;
  object-fit: cover;
  display: block;
  margin: auto;
  margin-top: 6px;
}

/*contact section*/
.contact-section {
  margin-top: 40px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 1px 5px #4f4e4e5e;
}  

.contact-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 11px;
  background-color: #72a3ff;
  transition: width 0.3s ease-in-out;
  transform: translateX(-50%);
}

.contact-section:hover::before {
  width: calc(100% + 40px);
}

.contact-button {
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.contact-button:hover {
  background-color: #2980b9;
}

.contact-title {
  font-size: 36px;
  color: #72a3ff;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 20px;
  font-weight: bold;
}

.contact-text {
  font-size: 25px;
  color: #000000;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.contact-map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  padding: 20px;
  width: 100%;
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
}

.contact-map-container.visible {
  opacity: 1;
  max-height: 100%;
}

.map-container,
.contact {
  width: 100%;
  box-sizing: border-box;
}
.map-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1080px) {
  .contact-map-container {
    flex-direction: column;
    align-items: flex-start;
  }
}     

/* Sección "Why Choose Us" */
.why-choose-us {
  margin-top: 40px;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 8px;
  position: relative;
  overflow: hidden; 
  box-shadow: 1px 1px 5px #4f4e4e5e;
}

.why-choose-us::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 10px;
  background-color: #72a3ff;
  transition: width 0.3s ease-in-out;
  transform: translateX(-50%);
}

.why-choose-us:hover::before {
  width: calc(100% + 40px);
}

.why-choose-title {
  font-size: 36px;
  color: #72a3ff;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 20px;
  font-weight: bold;
}

.why-choose-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.why-choose-list-item {
  font-size: 18px;
  color: #000000;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.why-choose-list-item::before {
  content: "\2022";
  color: #72a3ff;
  font-size: 24px;
  margin-right: 10px;
}