/* CategoryHome.css */
.title-container-2 {
    margin-bottom: 20px;
    text-align: right;
}
.section-title-2 {
    margin-bottom: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    text-align: right;
}