.CategoriesHeaderContainer {
  background-image: linear-gradient(to top, white, #DCE8FF);
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.CategoryButton,
button {
  color: black;
  padding: 1%;
  width: 10%;
  text-align: center;
}

button {
  font-size: 16px;
  display: flex;
  align-items: center;
  text-align: center;
}

button span {
  margin-right: 8px;
}

button i {
  flex-shrink: 0;
}

.CategoriesHeaderContainer::before {
  content: '\00a0';
  margin-left: 100px;
}