.slider-container1 {
  position: relative;
}

.title {
  margin-bottom: 15px;
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  text-align: right;
}

.image-container1 {
  padding-left: 0.2rem;
  padding-right: 0.1rem;
  padding-bottom: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.responsive1 {
  width: 100%;
  height: auto;
  max-width: calc(100% - 10px);
  max-height: 520px;
  margin-right: 10px;
}
