/* 
Container for all products in the administration and normal area.
*/
.container-product{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.add-product-link {
    position: fixed;
    top: 300;
    right: 0;
    background-color: #70a2ff;
    color: white;
    text-decoration: none;
    font-size: xx-large;
    border-radius: 5px;
    margin-top: 20px;
    margin-right: 40px;
    height: 50px;
    width: 50px;
    text-align: center;
}
.add-product-link:hover {
    background-color: #a9c8ff;
}
@media only screen and (max-width: 410px) {
    .add-product-link {
        font-size: x-large;
        height: 40px;
        width: 40px;
        margin-right: 5px;
    }
}

.sidebar {
    position: sticky;
    left: 0;
    bottom: 0;
    min-width: 300px;
    max-width: 350px;
    height: max-content;
}

.main-content {
    /* Estilos específicos del contenido principal */
    flex-grow: 1;
}

.filter-button {
    position: fixed;
    width: 35px;
    height: 35px;
    align-self: start;
    top: 120px; /* Alinear en la parte superior */
    left: 40px; /* Alinear en la parte izquierda */
    z-index: 110;
}

@media (max-width: 767px) {
    .sidebar {
        margin-top: 70px;
        position: absolute;
        left: 0;
        bottom: 0;
        min-width: 100%; /* O ajusta según sea necesario para cubrir el ancho completo */
        max-width: none; /* Anular el ancho máximo */
        height: max-content;
    }

    .filter-button {
        position: fixed;
        width: 30px;
        height: 30px;
        top: 75px; /* Alinear en la parte superior */
        left: 20px; /* Alinear en la parte izquierda */
        z-index: 110;
    }
}
