/* 
Container for all products in the administration and normal area.
*/
.container-product{
    min-height: 200px;
}
.add-product-link {
    position: fixed;
    top: 300;
    right: 0;
    background-color: #70a2ff;
    color: white;
    text-decoration: none;
    font-size: xx-large;
    border-radius: 5px;
    margin-top: 20px;
    margin-right: 40px;
    height: 50px;
    width: 50px;
    text-align: center;
}