.general-view{
  margin-bottom: 20px;
}

.user-profile-container {
  width: 500px;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
  padding-bottom: 50px;
  background-color:white;
  margin: 10px auto;
}

.user-image-container {
  margin-top: 20px;
}

.user-image {
  background: linear-gradient(to bottom, #8eb6ff, #ffffff);
  border: 2px solid black;
  padding: 10px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'New Romans'; 
  font-size: 80px;
  color: black;
  text-transform: uppercase;
  font-weight: 500;
}

.user-info {
  margin-top: 10px;
}

.username,
.email {
  font-family: 'New Romans';
  margin-bottom: 15px;
  font-size: 20px;
  font-weight:bolder;
  border: 2px solid #888383;
  border-radius: 10px;
}

.user-actions {
  margin-top: 20px;
}

.user-title,
.email-title {
  color: #72a3ff;
  font-family: 'New Romans'; 
  font-size: 20px;
  font-weight: bold;
}

.view-history-button {
  margin: 20px 20px;
  margin-bottom: 20px;
  background-color: #C3B533;
  font-weight: 500;
  padding: 10px 25px;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-size: larger;
}

.view-history-button:hover {
  background-color: #d6cf8c;
  transform: scale(1.1);
}

.log-out-button {
  padding: 10px 20px;
  margin: 20px 20px;
  background-color: #e57575;
  font-weight: 500;
  padding: 10px 25px;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-size: larger;
}

.log-out-button:hover {
  background-color: lightcoral;
  transform: scale(1.1);
}

.title-profile {
  font-size: 80px;
  color: #000000;
  font-family: 'Bangers', cursive;    
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-bottom: 20px;
}
