.header-1 {
    padding-right: 30px;
}

.header-1 h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.header-1 h2{
    margin: 0.7rem;
    font-size: 1.3rem;
    font-weight:bold;
}

.header-1 h2 span{
    margin: 0.7rem;
    font-size: 1.3rem;
    font-weight:normal;
}