.header-1 {
    padding-right: 30px;
}

.header-1 h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.header-1 h2{
    margin: 0.7rem;
    font-size: 1.3rem;
    font-weight:bold;
}

.header-1 h2 span{
    margin: 0.7rem;
    font-size: 1.3rem;
    font-weight:normal;
}

.datepicker-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .custom-datepicker {
    width: 150px;
    margin-right: 10px;
  }
  
  /* Agrega el color azul al DatePicker */
  .datepicker-wrapper {
    border: 1px solid #3498db;
    border-radius: 4px;
  }
  
  .clear-filter-button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .clear-filter-button:disabled {
    background-color: #bdc3c7;
    cursor: not-allowed;
  }
  
  .clear-filter-button:hover {
    background-color: #2980b9;
  }