.purchase-component {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(2, 1, 1, 0.5);
    margin-bottom: 2rem;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd; /* Borde en todos los lados */
  }
  
  .scroll-container {
    max-height: 300px;
    overflow-y: hidden;
    padding: 10px;
    border-radius: 8px;
  }
  
  .text-container1 {
      display: flex;
  }
  
  .purchase-component h2 {
      font-weight: bold;
      color: blue;
  }
  