.header-1 {
  padding-right: 30px;
  display: flex;
  justify-content: space-between;
}

.header-1 h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.header-1 h2 {
  margin: 0.7rem;
  font-size: 1.3rem;
  font-weight: bold;
}

.header-1 h2 span {
  margin: 0.7rem;
  font-size: 1.3rem;
  font-weight: normal;
}

.datepicker-container {
  padding-top: 74px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.custom-datepicker {
  width: 150px;
  height: 38px;
  padding-left: 10px;
  margin-right: 10px;
}

.datepicker-wrapper {
  border: 1px solid #3498db;
  border-radius: 4px;
}

.clear-filter-button {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  height: 40px;
}

.clear-filter-button:disabled {
  background-color: #bdc3c7;
  cursor: not-allowed;
}

.clear-filter-button:hover {
  background-color: #2980b9;
}

.no-history-container {
  text-align: center;
}

@media (max-width: 670px) {
  .header-1 {
    flex-direction: column;
    align-items: flex-start;
  }

  .datepicker-container {
    padding-top: 10px;
    padding-left: 100px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  .custom-datepicker {
    width: 200px;
    margin-right: 0;
    margin-bottom: 0px;
  }
}

.no-history-icon {
    width: 250px;
    margin: 0 auto;
  }

.no-history-message-container {
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  .no-history-text {
    font-size: 1.2rem;
    font-weight: bold;
  }

  .title-no-p {
    font-size: 2rem;
    font-weight: bold;
  }