.slider-container {
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 2%;
}

.image-container {
  align-items: center;
  margin: auto;
  height: 100%;
}

.main-title {
  text-align: center;
  font-size: 1.875rem;
  font-weight: bold;
  color: #00237B;
  margin-bottom: 2%;
}
