.shopping-card {
  width: 250px;
  height: 300px;
  margin: 20px;
  background-color: #70a2ff;
  overflow: hidden;
  position: relative;
}

.shopping-card:hover {
  box-shadow: 4px 4px 30px rgba(112, 162, 255);
  .shopping-card-title{
    animation: slideLeft linear infinite;
  }
}

.shopping-card-img {
  margin: auto;
  width: 100%;
  height: 75%;
  object-fit: cover;
  cursor: pointer;
}

.shopping-card-title {
  color: white;
  margin-left: 5px;
  font-weight: bold;
  font-size: larger;
  white-space: nowrap;
}

@keyframes slideLeft {
  0% {
    transform: translateX(30%);
  }
  100% {
    transform: translateX(calc(-100%));
  }
}

.shopping-card-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin-left: 5px;
  font-size: large;
}

.shopping-card-price > * {
  position: relative;
  z-index: 2;
}

.shopping-card-price:after{
  content: "";
  position: absolute;
  right: 0;
  border-style: solid;
  border-color: transparent transparent white transparent;
  border-width: 0 0 100px 100px;
}

.shopping-bag {
  width: 39px;
  height: 39px;
  align-self: end;
}

.size-button {
  background-color: white;
  padding: 5px;
  margin-right: 5px;
  color: black;
  font-size: 12px;
  border-radius: 5px;
  min-width: 20px;
  text-align: center;
}

.color-button {
  width: 20px;
  height: auto;
  margin-right: 5px;
  border-radius: 5px;
  border: 2px solid #fff;
}

.card-size {
  display: flex;
}

.card-colors{
  display: flex;
  color: rgba(0,0,0,0);
  margin-bottom: 5px;
}

.card-content {
  display: flex;
  justify-content: space-between;
}

.card-colors,
.card-content:hover {
  cursor: pointer;
}

/*FLIP FUNCTIONALITY*/

.flip-card {
  perspective: 1000px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.flip-card.flipped {
  transform: rotateX(180deg);
}

.flip-card-inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.shopping-card-flip-front,
.shopping-card-flip-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.shopping-card-flip-back {
  transform: rotateX(180deg);
}

.flip-button {
  width: 100px;
  padding: 10px;
  font-size: 16px;
  margin-top: 10px;
  background-color: #f5d9fa;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}