.sidebar {
  position: absolute; /* Cambiado a fixed para que se mantenga fijo en la pantalla durante el desplazamiento */
  top: 0;
  left: 0;
  bottom: 0; /* Hacer que el Sidebar ocupe toda la altura de la pantalla */
  z-index: 100;
  width: 100%;
  height: max-content;
  font-size: larger;
  padding: 20px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: rgb(255, 255, 255);
  justify-content: center;
}

.filters {
  padding-bottom: 150px;
}

.main-title {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

.ul {
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  align-content: flex-start;
  text-align: left;
}

.title-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: #52a0ef 2px solid;
  margin-right: 10px;
}

.title-filter:hover {
  cursor: pointer;
}

.title-filter label {
  cursor: pointer;
  margin-top: 10px;
}

ul li label {
  margin-left: 5px;
}

.li-displayed {
  display: block;
}

.li-no-displayed {
  display: none;
}

.left-row {
  width: 20px;
  height: 20px;
}

.selector {
  margin-right: 10px;
}

.title-selector {
  padding-bottom: 100px;
}

.clear-radio-button {
  background-color: #72A3FF;
  padding:5px;
  border-radius: 8px;
  margin-top: 5px;
  color: white;
}

.clear-radio-button:hover {
  box-shadow: 0 5px 5px lightblue;
}

.apply-button {
  font-weight: bold;
}