.sidebar {
  position: absolute;
  height: 100%;
  flex-direction: column;
  font-size: larger;
  display: flex;
  padding-top: 10px;
}

.filters {
  overflow: auto;
  padding-bottom: 150px;
}

.main-title {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.ul {
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  align-content: flex-start;
  text-align: left;
}

.title-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: #52a0ef 2px solid;
  margin-right: 10px;
}

.title-filter:hover {
  cursor: pointer;
}

.title-filter label {
  cursor: pointer;
  margin-top: 10px;
}

ul li label {
  margin-left: 5px;
}

.li-displayed {
  display: block;
}

.li-no-displayed {
  display: none;
}

.left-row {
  width: 20px;
  height: 20px;
}

.selector {
  margin-right: 10px;
}