.modal-content-suboptions-sport {
    position: fixed;
    top: 36%;
    left:87%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 210px;
}

.modal-overlay-suboptions-sport {
    background-color: rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 1339px) {
    .modal-content-suboptions-sport {
        top: 35%;
    }
}
@media only screen and (max-width: 1208px) {
    .modal-content-suboptions-sport {
        top: 34%;
    }
}
@media only screen and (max-width: 1087px) {
    .modal-content-suboptions-sport {
        top: 33%;
    }
}
@media only screen and (max-width: 991px) {
    .modal-content-suboptions-sport {
        top: 32%;
    }
}