.modal-content-suboptions-brands {
    position: absolute;
    top: 42.5%;
    left: 65%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 230px;
}

.modal-overlay-suboptions-brands {
    background-color: rgba(0, 0, 0, 0.5);
}