.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.slick-slider {
  /*background-color: aquamarine;*/
  padding-left: 20px;
}

.slick-prev {
  z-index: 1;
  /* background-color: red !important; */
}
.slick-next {
  z-index: 1;
  /* background-color: red !important; */
}

.slick-dots li button:before {
  color: rgb(112, 112, 112) !important;
  font-size: 10px !important;
  margin-top: 10px;
}
/*
.slick-dots button {
   background-color: blue !important; 
}*/

.slick-dots li.slick-active button:before {
  color: black !important;
  /* font-size: 12px !important; */
}

