.simple-data-container {
  width: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.simple-data-container-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

label {
  margin-bottom: 10px;
  font-family: "Montserrat", cursive;
}

.input-add {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.input-add_right {
    padding: 10px;
    box-sizing: border-box;
}

select {
    padding: 10px;
    border: 2px solid;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
  }

.category-section {
  margin-top: 10px;
  display: flex;
  align-items: top;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

.category-section-general {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
  }

.category-section-selected{
    display: flex;
    align-items: center;
    padding-left: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.selected-categories {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 8px;
}

.selected-category {
  padding: 4px 8px;
  border-radius: 10px;
  border: 2px solid;
  display: flex;
  align-items: center;
  height: 35px;
}

.selected-category button {
  margin-left: 8px;
  cursor: pointer;
  border-radius: 16px;
  border: 1px solid;
  width: 25px;
  height: 25px;
  font-size: 12px;
}